.header {
    background-color: #262626;
    padding: 1%;
}

.font-colors {
    color: white;
}

.button-style {
    height: 45px;
    width: 120px;
    float: right;
    margin-top: 50px;
    margin-right: 60px;
    font-size: 90%;
}

.movie-table {
    height: 25%;
    width: 75%;
    border: solid 2px black;
    padding: 5%;
    margin-top: 150px;
    margin-left: 13%;
    text-align: center;
}

.table-buttons {
    height: 25px;
    width: 100px;
}

.rows td {
    padding: 1%;
    border: solid 1px black;
}
