.header {
    background-color: #262626;
    padding: 1%;
}

.font-colors {
    color: white;
}

.button-style {
    height: 45px;
    width: 120px;
    float: right;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 60px;
    font-size: 90%;
}

img {
    height: 100px;
}

table {
    border: 1px solid black;
    width: 80%
}

tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.table-head {
    margin-left: 30px;
}

td {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.table-buttons {
    margin-right: 30px;
    height: 30px;
    width: 70px
}
